<div id="hirek" class="blog-area section pb-90 pt-120">
    <div class="container">

        <div class="row">
            <div class="section-title section-title-dark text-center col-xs-12 mb-80">
                <h1>Aktuális</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="text-align: center;"><a href="http://facebook.com/ujkezdet.hu"><img src="/img/kerdezzen.jpg" alt="Kérdezze Ön is Gémesi Györgyöt minden szerdán du. 5 és 6 között élőben." title="Kérdezze Ön is Gémesi Györgyöt minden szerdán du. 5 és 6 között élőben."></a></div>
            </div>
        </div>

    </div>
</div>

