

<div id="cta" class="about-area section pb-120 pt-120">
    <div class="container">

        <div class="row">
            <div class="section-title text-center col-xs-12 mb-60">
                <h1>Minden segítségre szükség van!</h1>
            </div>
        </div>

        <div class="service-wrapper">

            <div style="height: 320px" class="single-service text-center col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="sprite sprite-1"></div>
                <h4>Kövessen minket</h4>
                <p>Segítsen nekünk elérni minél több embert a független online csatornákon keresztül.</p>
                <a href="https://facebook.com/ujkezdet.hu/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
            </div>

            <div style="height: 320px" class="single-service text-center col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 active">
                <div class="sprite sprite-2"></div>
                <h4>Csatlakozzon hozzánk</h4>
                <p>Iratkozzon fel hírlevelünkre, hogy értesülhessen a legújabb eseményekről.</p>
                <a href="#hirlevel" data-scroll><i class="zmdi zmdi-arrow-right"></i></a>
            </div>

            <div style="height: 320px" class="single-service text-center col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="sprite sprite-3"></div>
                <h4>Támogasson minket</h4>
                <p>Minden forint számít, és minden fillérrel elszámolunk!</p>
                <p><strong>10700196-70212992-51100005</strong></p>
            </div>

        </div>

    </div>
</div>
