
<!--<div id="tamogatas" class="donation-area section overlay pb-120 pt-120">
    <div class="container">

        <div class="row">
            <div class="section-title title-white text-center col-xs-12 mb-60">
                <h1>Támogatás most</h1>
            </div>
        </div>

        <div class="donation-wrapper text-center col-xs-12">
           <form action="#" id="donation-form">
                <div class="donation-amount">
                    <div class="input"><input id="label-1" name="donation" type="radio" value="$100"><label for="label-1">10000 Ft</label></div>
                    <div class="input"><input id="label-2" name="donation" type="radio" value="$200"><label for="label-2">20000 Ft</label></div>
                    <div class="input"><input id="label-3" name="donation" type="radio" value="$300"><label for="label-3">30000 Ft</label></div>
                    <div class="input"><input id="label-4" name="donation" type="radio" value="$400"><label for="label-4">40000 Ft</label></div>
                    <div class="input"><input id="label-5" name="donation" type="radio" value="$500"><label for="label-5">50000 Ft</label></div>
                </div>
                <div class="donation-submit">
                    <span>Támogatok!</span>
                </div>
            </form>
        </div>

    </div>
</div>-->
