<!--Event Area Start-->
<!--<div id="esemenyek" class="event-area section pb-80 pt-120">
    <div class="container">

        <div class="row">
            <div class="section-title text-center col-xs-12 mb-60">
                <h1>upcoming events</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-7 col-xs-12 mb-40">
                <div class="single-event">
                    <a href="#" class="event-image"><img src="img/event/1.jpg" alt=""></a>
                    <div class="event-meta">
                        <span class="date"><span>25</span>aug</span>
                        <p><i class="zmdi zmdi-pin"></i>your address goes here,stree here, Crossroad123.</p>
                        <p><i class="zmdi zmdi-time"></i>9.30 am</p>
                    </div>
                    <div class="event-desc">
                        <h3><a href="#">Nemo enim ipsam voluptatem quia voluptas sit</a></h3>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,</p>
                        <p>avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 mb-40">
                <div class="sin-event-small fix">
                    <a href="#" class="event-image float-left"><img src="img/event/2.jpg" alt=""><span class="date"><span>28</span> aug</span></a>
                    <div class="event-desc fix">
                        <a href="#">Boluptatem quia Ami </a>
                        <p>But I must explain to how all this mistaken idea ofncing pleasure and praising pain wofs</p>
                    </div>
                </div>
                <div class="sin-event-small fix">
                    <a href="#" class="event-image float-left"><img src="img/event/3.jpg" alt=""><span class="date"><span>28</span> aug</span></a>
                    <div class="event-desc fix">
                        <a href="#">Boluptatem quia Ami </a>
                        <p>But I must explain to how all this mistaken idea ofncing pleasure and praising pain wofs</p>
                    </div>
                </div>
                <div class="sin-event-small fix">
                    <a href="#" class="event-image float-left"><img src="img/event/4.jpg" alt=""><span class="date"><span>28</span> aug</span></a>
                    <div class="event-desc fix">
                        <a href="#">Boluptatem quia Ami </a>
                        <p>But I must explain to how all this mistaken idea ofncing pleasure and praising pain wofs</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>-->
<!--Event Area End-->