
<div id="kapcsolat" class="footer-area section">

    <div class="footer-top pb-80 pt-120">
        <div class="container">
            <div class="row">

                <div class="footer-widget col-md-12 col-sm-12 col-xs-12 mb-30">
                    <h4>Kapcsolat</h4>
                    <div class="contact-info fix">
                        <ul>
                            <li><span>cím :</span> Új Kezdet, {{site.data.contact.mail.zip}} {{site.data.contact.mail.city}}, {{site.data.contact.mail.address}}</li>
                            <li><span>telefon :</span> {{ site.data.contact.phone }}</li>
                            <li><span>e-mail :</span> {{ site.data.contact.email }}</li>
                        </ul>
                    </div>
                </div>

                <!--<div class="footer-widget col-md-7 col-xs-12 mb-30">
                    <h4>Írjon nekünk</h4>
                    <form id="contact-form" action="mail.php" method="post">
                        <div class="input-box-2">
                            <div class="input-box"><input name="name" type="text" placeholder="Név"></div>
                            <div class="input-box"><input name="email" type="email" placeholder="E-mail"></div>
                        </div>
                        <div class="input-box"><textarea name="message" placeholder="Üzenet"></textarea></div>
                        <div class="input-box"><input type="submit" value="Elküld"></div>
                    </form>
                    <p class="form-messege"></p>
                </div>-->

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">

                <div class="copyright text-center col-xs-12">
                    <p>©&nbsp;2017&nbsp;&nbsp;<span>Új Kezdet</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/tartalom/adatvedelem/">adatvédelmi nyilatkozat</a></p>
                </div>

            </div>
        </div>
    </div>

</div>