<div id="hitvallas" class="achivment-area section pb-120 pt-120">
    <div class="container">

        <div class="row">
            <div class="section-title title-white text-center col-xs-12 mb-60">
                <h1>Hitvallás</h1>
            </div>
        </div>

        <div class="text-center col-md-8 col-md-offset-2 col-xs-12">
            <div class="achivment-slider">
                <div class="single-achivment">
                    <img src="/img/achivment.png" alt="">
                    <h4>Magyarországnak Új Kezdetre van szüksége.</h4>
                    <p>Az Új Kezdet alapítói és tagjai hitünk és jelen tudásunk birtokában, hazánk iránti elköteleződésünkből vezérelve öntöttük írott formába hitvallásunkat.</p>
                    <a href="/tartalom/hitvallas/" class="btn btn-xlg">Hitvallásunk <i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
                <!--div class="single-achivment">
                    <img src="img/achivment.png" alt="">
                    <h4>Finibus Bonorum et Malorum 2010</h4>
                    <p>There are many variations of passages of Lorem Ipsumavailable,but the majority have suffered alteration insome form, by injected humour amr sonar banla ami tomay </p>
                </div>
                <div class="single-achivment">
                    <img src="img/achivment.png" alt="">
                    <h4>Finibus Bonorum et Malorum 2010</h4>
                    <p>There are many variations of passages of Lorem Ipsumavailable,but the majority have suffered alteration insome form, by injected humour amr sonar banla ami tomay </p>
                </div-->
            </div>
        </div>

    </div>
</div>