<div id="hirlevel" class="hirlevel section">
    <div class="video-area overlay text-center col-md-6 col-xs-12">
        <!--av2ocAN29P8-->
    </div>
    <div class="newsletter-area col-md-6 col-xs-12">

        <div class="row">
            <div class="section-title text-center col-xs-12">
                <h1>Hírlevél</h1>
                <p>&nbsp;</p>
                <p>Fogadja hírlevelünket, melyben folyamatosan tájékoztatjuk<br>
                    az Új Kezdettel kapcsolatos eseményekről.</p>
                <p>&nbsp;</p>
            </div>
        </div>

        <div class="newsletter-form text-center col-xs-12">
            <form action="//ujkezdet.us15.list-manage.com/subscribe/post?u=8de3996736ff82c9c5d870cdf&amp;id=d3bf02b79a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mc-form" target="_blank" novalidate>
                <input id="mc-email" value="" name="EMAIL" required type="email" autocomplete="off" placeholder="E-mail cím" />
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8de3996736ff82c9c5d870cdf_d3bf02b79a" tabindex="-1" value=""></div>
                <button id="mc-submit" value="Feliratkozás" name="subscribe">Feliratkozás</button>
            </form>
            <!-- mailchimp-alerts Start -->
            <div class="mailchimp-alerts text-centre">
                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
            </div><!-- mailchimp-alerts end -->
        </div>

    </div>
</div>