    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="header-social text-left col-sm-4 col-xs-12">
                    <a href="https://www.facebook.com/ujkezdet.hu/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="https://twitter.com/uj_kezdet/" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCguvMpYJNno_PERyh_8o2sQ" target="_blank"><i class="zmdi zmdi-youtube"></i></a>
                    <a href="/feed.xml" target="_blank"><i class="zmdi zmdi-rss"></i></a>
                    <a href="mailto:{{site.data.contact.email}}"><i class="zmdi zmdi-email"></i></a>
                    <a href="tel:{{site.data.contact.phonefull}}"><i class="zmdi zmdi-phone"></i></a>
                </div>
                <div class="header-info text-right col-sm-6 col-xs-12">
                    <p>e-mail : {{ site.data.contact.email }}</p>
                    <p>telefon : {{ site.data.contact.phone }}</p>
                </div>
                <div class="text-right col-sm-2 col-xs-12"><div class="fb-like" data-href="https://www.facebook.com/ujkezdet.hu/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></div>
            </div>
        </div>
    </div>